body {
    align-content: center;
    background: url(back1.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    font-size: 20px;
};


var {
    font-size: 20px;
};